Checks: clang-diagnostic-*,clang-analyzer-*,-*,bugprone-*,cppcoreguidelines-*,clang-analyzer-*,modernize-*,readability-*,performance-*
HeaderFilterRegex: '.*'
CheckOptions:
    bugprone-exception-escape.IgnoredExceptions: main,