Checks: clang-diagnostic-*,clang-analyzer-*,-*,bugprone-*,cppcoreguidelines-*,clang-analyzer-*,modernize-*,readability-*,performance-*
HeaderFilterRegex: 'day4/*'
SystemHeaders: false
CheckOptions:
    bugprone-exception-escape.IgnoredExceptions: main,
    readability-identifier-length.IgnoredParameterNames: "[x|y]"
    readability-identifier-length.IgnoredVariableNames: "[x|y]"
